**/__pycache__/
**/*.pyc
.git/
.idea/
.vscode/
datasets/
experiments/
test_results/
bsds500_synthetic_dataset/
NWPU-RESISC45/
UCMerced_LandUse/
ucmerced_synthetic_dataset/
real_sar_dataset/
*.pth
*.pt
*.png
*.jpg
*.jpeg
*.tif
*.tiff
*.mat
